<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>|%d{HH:mm:ss.SSS}| %-5level| %logger{20} | %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Logger configuration. -->
	<logger name="org.yagamipaul" level="TRACE" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.springframework.security" level="ERROR" />

	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />

	<logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR" />
	<logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="ERROR" />
	<logger name="ch.qos.logback" level="ERROR" />


	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>